<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Login page</h1>

<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="authenticateTheUser" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" class="form-control"/> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" class="form-control"/> <br />
    <input type="submit" value="Log in" />
</form>
</body>
</html>